@model ParticipantAnswerSheet
@{
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";

    var indexs = (Dictionary<Section, List<List<Question>>>)ViewData["Indexs"];
    var id = (int)ViewData["Id"];
    var mode = (int)ViewData["Mode"];
    var participantID = (int)ViewData["ParticipantID"];
    var question = (Question)ViewData["Question"];
    var questionNext = (Question)ViewData["QuestionNext"];
    var questionPrevious = (Question)ViewData["QuestionPrevious"];
    var part = (Section)ViewData["Section"];
    var questionAnswered = (List<Question>)ViewData["QuestionAnswered"];

    var answers = (List<ParticipantAnswerSheetLine>)ViewData["Answer"];
    var questionAnswer = (List<QuestionAnswer>)ViewData["QuestionAnswer"];
    var questionAnswerMatrix = (List<QuestionAnswer>)ViewData["QuestionAnswerMatrix"];
}

@section scripts { 
    <script src="~/Views/TypeScripts/@ViewData["Script"]"></script>
}

<div class="row">
    <div class="col-md-12">
        @if (mode == 1 && part != null)
        {
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Panduan Pengisian</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    @Html.Raw(part.Introduction)
                </div>
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Indek Survei</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="">
                    <table>
                        @foreach (Section sect in indexs.Keys)
                        {
                            <tr>
                                <td>
                                    <b>
                                        @if (part != null && part.ID == sect.ID)
                                        {
                                            <a href="~/survey-participant/detail/@Model.Participant.ID?mode=0&id=@sect.ID">Bagian @sect.Sequence</a>
                                        }
                                        else
                                        {
                                            <a class="disabled" href="#">Bagian @sect.Sequence</a>
                                        }
                                    </b>
                                </td>
                                <td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                                <td>
                                    <ul class="pagination" style="margin-bottom:0px; flex-wrap:wrap">
                                        @{ 
                                            var isFirst = true;
                                        }
                                        @foreach (List<Question> quess in indexs[sect])
                                        {
                                            @foreach (Question ques in quess)
                                            {
                                                var active = questionAnswered.Contains(ques) ? "active" : "";
                                                var disabled = active == "" ? "disabled" : "";
                                                @if (part != null && part.ID == ques.Section.ID && (questionAnswered.Contains(ques) || isFirst))
                                                {
                                                    <li class="paginate_button page-item @active">
                                                        <a style="width:45px;padding:0.25rem;text-align:center" href="~/survey-participant/detail/@Model.Participant.ID?mode=1&id=@ques.ID" data-question="@ques.ID" tabindex="0" class="page-link">@ques.Sequence</a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="paginate_button page-item @active @disabled">
                                                        <a style="width:45px;padding:0.25rem;text-align:center" href="#" data-question="@ques.ID" tabindex="0" class="page-link">@ques.Sequence</a>
                                                    </li>
                                                }
                                                if (!questionAnswered.Contains(ques))
                                                {
                                                    isFirst = false;
                                                }
                                            }
                                        }
                                    </ul>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    @if (mode == 0)
    {
        <div class="col-md-12">
            <div class="module form-modal">
                <div class="card">
                    @if (part == null)
                    {
                        <div class="card-header">
                            <h3 class="card-title">
                                Data Tidak Ditemukan
                            </h3>
                        </div>
                        <div class="card-body">
                            <h2>Data Tidak Ditemukan</h2>
                        </div>
                    }
                    else
                    {
                        <div class="card-header">
                            <h3 class="card-title">
                                <span>Bagian @part.Sequence</span>
                            </h3>
                            <div class="card-tools">
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            @Html.Raw(part.Introduction)

                            <br />
                            <a href="~/survey-participant/detail/@Model.Participant.ID?mode=1&id=0" class="btn btn-primary">Mulai Mengerjakan&nbsp;<i class="fa fa-step-forward"></i></a>
                            <br />
                        </div>
                        <!-- /.card-body -->
                    }
                </div>
            </div>
        </div>
    }

    @if (mode == 1)
    {
        <div class="col-md-6">
            <div class="module form-modal">
                <div class="card">
                    @if (question == null)
                    {
                        <div class="card-header">
                            <h3 class="card-title">
                                Data Tidak Ditemukan
                            </h3>
                        </div>
                        <div class="card-body">
                            <h2>Data Tidak Ditemukan</h2>
                        </div>
                    }
                    else
                    {
                        <div class="card-header">
                            <h3 class="card-title">
                                <span>Situasi @question.Sequence</span>
                            </h3>
                            <div class="card-tools">
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            @if (question.Attachment != null && question.Attachment != "")
                            {
                                <img style="width:100%" src="https://app.lp3t.abdil.my.id/uploads/@question.Attachment" />
                                <br />
                            }
                            @Html.Raw(question.Description)
                            <br />
                            <input type="hidden" id="Question" value="@question.ID" />
                            <input type="hidden" id="ParticipantAnswerSheet" value="@Model.ID" />
                            <input type="hidden" id="ParticipantID" value="@participantID" />
                            @if (questionNext != null && questionNext.Section.ID == question.Section.ID)
                            {
                                <input type="hidden" id="QuestionNext" value="@questionNext.ID" />
                            }else
                            {
                                <input type="hidden" id="QuestionNext" value="0" />

                            }
                        </div>
                        <!-- /.card-body -->
                    }
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="module form-modal">
                <div class="card">
                    @if (question == null)
                    {
                        <div class="card-header">
                            <h3 class="card-title">
                                Data Tidak Ditemukan
                            </h3>
                        </div>
                        <div class="card-body">
                            <h2>Data Tidak Ditemukan</h2>
                        </div>
                    }
                    else
                    {
                        <div class="card-header">
                            <h3 class="card-title">
                                <span>Respon Situasi @question.Sequence</span>
                            </h3>
                            <div class="card-tools">
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table cellpadding="2" cellspacing="2" style="width:100%" class="table">
                                <thead>
                                    <tr>
                                        <th style="width:40px">No</th>
                                        <th>Pernyataan</th>
                                        @foreach (QuestionAnswer qa in questionAnswer.OrderBy(x => x.Sequence))
                                        {
                                            @if (question.QuestionType == QuestionType.MATRIX && question.MatrixSubType == MatrixSubType.CUSTOM)
                                            {
                                                <th style="width:100px;text-align:center">@qa.Value</th>
                                            }
                                            else if (question.QuestionType == QuestionType.MATRIX && question.MatrixSubType == MatrixSubType.SIMPLE)
                                            {
                                                <th style="width:250px;text-align:center">Respon</th>
                                                break;
                                            }
                                        }
                                    </tr>
                                </thead>
                                @{ var no = 1; }
                                @foreach (QuestionAnswer qa in questionAnswerMatrix.OrderBy(x => question.IsRandomAnswer ? new Random().Next() : x.Sequence))
                                {
                                    <tbody>
                                        <tr>
                                            <td>@no</td>
                                            <td>@qa.Value</td>
                                            @if (question.QuestionType == QuestionType.MATRIX && question.MatrixSubType == MatrixSubType.CUSTOM)
                                            {
                                                foreach (QuestionAnswer qa1 in questionAnswer.OrderBy(x => x.Sequence))
                                                {
                                                    var elemID = qa.ID + "_" + qa1.ID;
                                                    var answer = answers.Where(x => x.MatrixRowAnswerID == qa.ID && x.QuestionSquence == qa1.ID).FirstOrDefault();
                                                    var numericalValue = 0;
                                                    if(answer != null)
                                                    {
                                                        numericalValue = (int)answer.NumericalBoxValue;
                                                    }
                                                    <td>
                                                        @if (qa1.MatrixValue == MatrixValueType.NUMERICAL_BOX)
                                                        {
                                                            <input data-sequence="@no" data-col="@qa1.ID" data-row="@qa.ID" id="numerical_@elemID" name="numerical_@elemID" style="text-align:center" value="@numericalValue" type="number" class="numerical-box numerical-box-@qa1.ID form-control" />
                                                        }
                                                        else if (qa.MatrixValue == MatrixValueType.SEQUENCE)
                                                        {  
                                                            <select data-sequence="@no" data-col="@qa1.ID" data-row="@qa.ID" id="sequence_@elemID" name="sequence_@elemID" class="select-sequence select-sequence-@qa1.ID form-control">
                                                                <option value=""></option>
                                                                @for(int i = 1; i <= 5; i++)
                                                                {
                                                                    if(i == numericalValue)
                                                                    {
                                                                        <option value="@i" selected>@i</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@i">@i</option>

                                                                    }
                                                                }
                                                            </select>
                                                        }
                                                    </td>
                                                }
                                            }
                                            else if (question.QuestionType == QuestionType.MATRIX && question.MatrixSubType == MatrixSubType.SIMPLE)
                                            {
                                                var answer = answers.Where(x => x.MatrixRowAnswerID == qa.ID).FirstOrDefault();
                                                var sugestionID = 0;
                                                if(answer != null)
                                                {
                                                    sugestionID = answer.SuggestedAnswerID;
                                                }
                                                <td>
                                                    <select id="sequence_@qa.ID" name="sequence_@qa.ID" data-row="@qa.ID" data-sequence="@no" class="select-simple form-control">
                                                        <option value=""></option>
                                                        @foreach (QuestionAnswer qa1 in questionAnswer.OrderBy(x => x.Sequence))
                                                        {
                                                            if (qa1.ID == sugestionID)
                                                            {
                                                                <option value="@qa1.ID" selected>@qa1.Value</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@qa1.ID">@qa1.Value</option>
                                                            }
                                                        }
                                                    </select>
                                                </td>
                                            } 
                                        </tr>
                                    </tbody>
                                    no++;
                                }
                                @if (question.QuestionType == QuestionType.MATRIX && question.MatrixSubType == MatrixSubType.CUSTOM)
                                {
                                    <tfoot>
                                        <tr>
                                            <th colspan="3">Total</th>
                                            @{
                                                var total = answers.Where(x => x.AnswerType == MatrixValueType.NUMERICAL_BOX).Sum(x => x.NumericalBoxValue);
                                            }
                                            <th id="numeric_total" style="text-align:center" align="center">@total</th>
                                        </tr>
                                    </tfoot>
                                }
                            </table>
                            <br />
                            <button id="submit-answer" class="btn btn-danger pull-right"><i class="fa fa-save"></i>&nbsp;&nbsp;Simpan Respon</button>
                        </div>
                        <!-- /.card-body -->

                    }
                </div>
            </div>
        </div>
    }

    @if(mode == 3)
    {
        <div class="col-md-12">
            <div class="module form-modal">
                <div class="card">
                    @if (part == null)
                    {
                        <div class="card-header">
                            <h3 class="card-title">
                                Data Tidak Ditemukan
                            </h3>
                        </div>
                        <div class="card-body">
                            <h2>Data Tidak Ditemukan</h2>
                        </div>
                    }
                    else
                    {
                        <div class="card-header">
                            <h3 class="card-title">
                                <span>Bagian @part.Sequence Selesai</span>
                            </h3>
                            <div class="card-tools">
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <input type="hidden" id="ParticipantID" value="@participantID" />
                            <input type="hidden" id="ParticipantAnswerSheet" value="@Model.ID" />

                            Bagian @part.Sequence telah selesai. <br />
                            Anda dapat melakukan review kembali terhadap respon-respon anda di Bagian ini sebelum melanjutkan ke Bagian selanjutnya.

                            <br />
                            <br />
                            <a href="~/survey-participant/detail/@Model.Participant.ID?mode=1&id=0" id="close_form" class="btn btn-default"><i class="fa fa-sync"></i>&nbsp;Review Kembali</a>
                            <button id="finish-section" class="btn btn-primary">Lanjutkan Ke Bagian Selanjutnya&nbsp;<i class="fa fa-step-forward"></i></button>
                            <br />
                        </div>
                        <!-- /.card-body -->
                    }
                </div>
            </div>
        </div>
    }

    @if (question != null && mode == 1)
    {
        <div class="col-md-12">
            <div class="modal-footer" style="justify-content:center">
                @if (questionPrevious != null && questionAnswered.Contains(questionPrevious))
                {
                    if (questionPrevious.Section.ID == question.Section.ID)
                    {
                        <a href="~/survey-participant/detail/@Model.Participant.ID?mode=1&id=@questionPrevious.ID" id="close_form" class="btn btn-default"><i class="fa fa-step-backward"></i>&nbsp;Pertanyaan Sebelumnya</a>
                    }
                }
                @if (questionNext != null && (questionAnswered.Contains(questionNext) || questionAnswered.Contains(question)))
                {
                    if (questionNext.Section.ID == question.Section.ID)
                    {
                        <a id="button-next" href="~/survey-participant/detail/@Model.Participant.ID?mode=1&id=@questionNext.ID" style="color:white" class="btn btn-primary">Pertanyaan Selanjutnya&nbsp;<i class="fa fa-step-forward"></i></a>
                    }
                    else
                    {
                        <a id="button-next" href="~/survey-participant/detail/@Model.Participant.ID?mode=3" style="color:white" class="btn btn-primary">Selesai Bagian @part.Sequence&nbsp;<i class="fa fa-step-forward"></i></a>
                    }
                }
            </div>
        </div>
    }

</div>