@model List<Participant>
@{
    ViewData["Title"] = "Daftar Survei Tersedia";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<div class="module form-modal">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Daftar Survei Tersedia</h3>
            <div class="card-tools">
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row">
                @foreach (Participant participant in Model)
                {
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <b>@participant.QuestionPackage.Assesment.Name - @participant.QuestionPackage.Name</b><br />
                                Holding/Sub-holding : @participant.Schedule.Entity.Name<br />
                                Jadwal : @participant.Schedule.Name (@participant.Schedule.Start.ToString("yyyy-MM-dd") s/d @participant.Schedule.End.ToString("yyyy-MM-dd"))
                            </div>
                            <div class="card-footer">
                                @if (participant.FinishedAt == null || participant.ParticipantAnswerSheets.Where(x => !x.IsFinish).Count() > 0)
                                {
                                    if (participant.StartedAt == null)
                                    {
                                        <a href="~/survey-participant/start/@participant.ID?take=1" style="color:white" class="btn btn-primary">Mulai Survei</a>
                                    }
                                    else
                                    {
                                        <a href="~/survey-participant/start/@participant.ID?take=1" style="color:white" class="btn btn-primary">Lanjutkan Survei</a>
                                    }
                                }
                                else if (participant.IsCanRetake && participant.MaxRetake >= participant.ParticipantAnswerSheets.Count())
                                {
                                    <a href="~/survey-participant/start/@participant.ID?take=1" style="color:white" class="btn btn-primary">Isi Ulang Survei</a>
                                }
                                else
                                {
                                    <a class="btn btn-default">Survei Telah Selesai</a>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        <!-- /.card-body -->
        </div>
    </div>
</div>
