@model List<FormModel>

@foreach (FormModel FormModel in Model)
{
    var display = FormModel.InputType == AdminLte.Models.InputType.HIDDEN ? "none" : "";
    <div class="form-group row" style="display: @display" id="div_@FormModel.Name">
        @{
            var offset = "";
            var offset1 = "col-md-9";
            var isRequired = FormModel.IsRequired;
            var textRequired = "";
            var numberRequired = "";
            var selectRequired = "";
            if(isRequired)
            {
                textRequired = "text-required";
                numberRequired = "number-required";
                selectRequired = "select-required";
            }
        }
        @if(FormModel.InputType == AdminLte.Models.InputType.WYSIWYG || FormModel.FormPosition == FormPosition.FULL)
        {
            offset1 = "col-md-12";
            <label for="@FormModel.Name" class="col-sm-12 col-form-label">@FormModel.Label</label>
        }
        else if (FormModel.InputType != AdminLte.Models.InputType.YESNO)
        {
            offset = "";
            <label for="@FormModel.Name" class="col-sm-3 col-form-label">@FormModel.Label</label>
        }
        else
        {
            offset = "offset-sm-3";
        }
        <div class="@offset @offset1">
            @if (FormModel.InputType == AdminLte.Models.InputType.TEXT)
            {
                <input type="text" class="form-control @textRequired" data-label="@FormModel.Label" id="@FormModel.Name" name="@FormModel.Name" placeholder="@FormModel.Label" value="@FormModel.Value">
            }
            else @if (FormModel.InputType == AdminLte.Models.InputType.TEXTAREA)
            {
                <textarea id="@FormModel.Name" name="@FormModel.Name" data-label="@FormModel.Label" class="form-control @textRequired" rows="3" placeholder="@FormModel.Label">@FormModel.Value</textarea>
            }
            else @if (FormModel.InputType == AdminLte.Models.InputType.HIDDEN)
            {
                <input type="hidden" class="form-control" id="@FormModel.Name" data-label="@FormModel.Label" name="@FormModel.Name" placeholder="@FormModel.Label" value="@FormModel.Value">
            }
            else @if (FormModel.InputType == AdminLte.Models.InputType.PASSWORD)
            {
                <input type="password" class="form-control" id="@FormModel.Name" data-label="@FormModel.Label" name="@FormModel.Name" placeholder="@FormModel.Label" value="@FormModel.Value">
            }
            else @if (FormModel.InputType == AdminLte.Models.InputType.NUMBER)
            {
                <input type="number" class="form-control @numberRequired" id="@FormModel.Name" data-label="@FormModel.Label" name="@FormModel.Name" placeholder="@FormModel.Label" value="@FormModel.Value">
            }
            else @if (FormModel.InputType == AdminLte.Models.InputType.YESNO)
            {
                <div class="form-check">
                    @if (FormModel.Value.Equals("1"))
                    {
                        <input checked type="checkbox" class="form-check-input" id="@FormModel.Name">
                    }
                    else
                    {
                        <input type="checkbox" class="form-check-input" id="@FormModel.Name">
                    }
                    <label class="form-check-label" for="@FormModel.Name">@FormModel.Label</label>
                </div>
            }
            else @if (FormModel.InputType == AdminLte.Models.InputType.DROPDOWN)
            {
                <select id="@FormModel.Name" name="@FormModel.Name" data-label="@FormModel.Label" class="form-control @selectRequired">
                    <option value="-1">Pilih</option>
                    @if (FormModel.Options != null)
                    {
                        @foreach (string key in FormModel.Options.Keys)
                        {
                            if (key.Equals(FormModel.Value))
                            {
                                <option selected value="@key">@FormModel.Options[key]</option>
                            }
                            else
                            {
                                <option value="@key">@FormModel.Options[key]</option>
                            }
                        }
                    }
                </select>
            }
            else if (FormModel.InputType == AdminLte.Models.InputType.WYSIWYG)
            {
                <textarea id="@FormModel.Name" 
                          name="@FormModel.Name" 
                          class="form-control summernote" 
                          rows="10"
                          style="width: 100%; height: 400px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" 
                          placeholder="@FormModel.Label">@FormModel.Value</textarea>
            }
    </div>
</div>
}