@{
    int Total = (int)ViewData["Total"];
    int Page = (int)ViewData["Page"];

    int Size = 10;

    int Start = (Page - 1) * 10 + 1;
    int End = (Start + 10) > Total ? Total : (Start - 1 + 10);

    var Pages = new List<int>();
    var Temp = Page;
    var MaxPage = Math.Ceiling(Total / 10.0);
    if (Temp % Size == 0 && Temp > 0)
    {
        Temp = Temp - 1;
    }
    for (var i = (Temp - (Temp % Size) + 1); i <= MaxPage && i <= (Temp - (Temp % Size) + Size); i++)
    {
        Pages.Add(i);
    }
    if (Pages.Count == 0)
    {
        Pages.Add(1);
    }

    var DisablePrevious = "";
    if(Pages.First() == 1)
    {
        DisablePrevious = "disabled";
    }

    var DisableNext = "";
    if ((Total - (Pages.Last() * 10)) < 10)
    {
        DisableNext = "disabled";
    }
}

<div class="col-sm-12 col-md-5">
    <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
        Menampilkan @Start.ToString("N0") sampai @End.ToString("N0") dari @Total.ToString("N0") data
    </div>
</div>
<div class="col-sm-12 col-md-7">
    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
        <ul class="pagination">
            <li class="paginate_button page-item previous @DisablePrevious" id="example2_previous">
                <a href="#" aria-controls="example2" data-dt-idx="@Pages.Last()-1" tabindex="0" class="page-link">Sebelumnya</a>
            </li>
            @foreach (int temp in Pages)
            {
                var active = temp == Page ? "active" : "";
                <li class="paginate_button page-item @active">
                    <a href="#" aria-controls="example2" data-dt-idx="@temp" tabindex="0" class="page-link">@temp</a>
                </li>
            }
            <li class="paginate_button page-item next @DisableNext" id="example2_next">
                @{
                    var nextPage = Pages.Last() + 1;
                }
                <a href="#" aria-controls="example2" data-dt-idx="@nextPage" tabindex="0" class="page-link">Selanjutnya</a>
            </li>
        </ul>
    </div>
</div>