@using static AdminLte.Helpers.NavigationIndicatorHelper;
@using Microsoft.AspNetCore.Identity;
@using AdminLte.Data;

@inject UserManager<User> userManager
@inject PostgreDbContext context;

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="~/home" class="brand-link">
        <img src="~/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Survey Management</span>
    </a>
    <div class="sidebar">
        @if (User.Identity.IsAuthenticated)
        {
            //var userTask = userManager.GetUserAsync(User);
            var user = await userManager.GetUserAsync(User);
            await context.Entry(user).Reference(x => x.BackendUser).LoadAsync();
            await context.Entry(user).Reference(x => x.ParticipantUser).LoadAsync();
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="~/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    @if (user != null)
                    {
                        <a href="#" class="d-block">Hi, @user.BackendUser.Name</a>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="info">
                    <a href="#" class="d-block">Hi, Visitor</a>
                </div>
            </div>
        }
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item ">
                    <a asp-controller="Home" asp-action="Index" class="nav-link @Url.MakeActiveClass("home","index")">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Home
                        </p>
                    </a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    @*<li class="nav-item ">
                            <a asp-controller="Home" asp-action="Privacy" class="nav-link @Url.MakeActiveClass("home","privacy")">
                                <i class="nav-icon fas fa-lock"></i>
                                <p>
                                    Privacy
                                </p>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a asp-controller="Employee" asp-action="Index" class="nav-link @Url.MakeActiveClass("employee","index")">
                                <i class="nav-icon fas fa-users"></i>
                                <p>
                                    Employees
                                </p>
                            </a>
                        </li>*@

                    @if (User.IsInRole("Pengguna Khusus"))
                    {

                        <li class="nav-item has-treeview @Url.MakeOpenClass(new List<string> { "assesment","section","horizontaldimention","verticaldimention","SubVerticalDimention","entity","position","divition","function","department","period", "subperiod", "question", "questionanswer" },"index")">
                            <a href="#" class="nav-link @Url.MakeActiveClass(new List<string> { "assesment","section","horizontaldimention","verticaldimention","SubVerticalDimention","entity","position","divition","function","department","period", "subperiod", "question", "questionanswer" },"index")">
                                <i class="nav-icon fas fa-folder"></i>
                                <p>
                                    Master Data
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-controller="Assesment" asp-action="Index" class="nav-link @Url.MakeActiveClass("assesment","index")">
                                        <i class="fas fa-list nav-icon"></i>
                                        <p>Jenis Survei</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Section" asp-action="Index" class="nav-link @Url.MakeActiveClass("section","index")">
                                        <i class="fas fa-list nav-icon"></i>
                                        <p>Konstruk</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="VerticalDimention" asp-action="Index" class="nav-link @Url.MakeActiveClass(new List<string> { "verticaldimention", "SubVerticalDimention" },"index")">
                                        <i class="fas fa-list nav-icon"></i>
                                        <p>Dimensi Vertikal</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="HorizontalDimention" asp-action="Index" class="nav-link @Url.MakeActiveClass("horizontaldimention","index")">
                                        <i class="fas fa-list nav-icon"></i>
                                        <p>Dimensi Horizontal</p>
                                    </a>
                                </li>
                                <li class="nav-item has-treeview @Url.MakeOpenClass(new List<string> { "entity","position","divition","function","department" },"index")">
                                    <a href="#" class="nav-link @Url.MakeActiveClass(new List<string> { "entity","position","divition","function","department" },"index")">
                                        <i class="nav-icon fas fa-building"></i>
                                        <p>
                                            Struktur Organisasi
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a asp-controller="Entity" asp-action="Index" class="nav-link @Url.MakeActiveClass("entity","index")">
                                                <i class="fas fa-list nav-icon"></i>
                                                <p>Entitas</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-controller="Position" asp-action="Index" class="nav-link @Url.MakeActiveClass("Position","index")">
                                                <i class="fas fa-list nav-icon"></i>
                                                <p>Posisi</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-controller="Divition" asp-action="Index" class="nav-link @Url.MakeActiveClass("Divition","index")">
                                                <i class="fas fa-list nav-icon"></i>
                                                <p>Divisi</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-controller="Function" asp-action="Index" class="nav-link @Url.MakeActiveClass("Function","index")">
                                                <i class="fas fa-list nav-icon"></i>
                                                <p>Fungsi</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-controller="Department" asp-action="Index" class="nav-link @Url.MakeActiveClass("Department","index")">
                                                <i class="fas fa-list nav-icon"></i>
                                                <p>Departemen</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Period" asp-action="Index" class="nav-link @Url.MakeActiveClass(new List<string> { "Period", "SubPeriod" },"index")">
                                        <i class="fas fa-clock nav-icon"></i>
                                        <p>Periode</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Question" asp-action="Index" class="nav-link @Url.MakeActiveClass(new List<string> { "Question", "QuestionAnswer" },"index")">
                                        <i class="fas fa-question nav-icon"></i>
                                        <p>Pertanyaan</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Survey" asp-action="Index" class="nav-link">
                                <i class="fas fa-file-signature nav-icon"></i>
                                <p>Daftar Survei</p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-calendar"></i>
                                <p>
                                    Penjadwalan
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-controller="Schedule" asp-action="Index" class="nav-link">
                                        <i class="fas fa-calendar-check nav-icon"></i>
                                        <p>Penjadwalan Survei</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Participant" asp-action="Index" class="nav-link">
                                        <i class="fas fa-calendar-week nav-icon"></i>
                                        <p>Penjadwalan Peserta</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview @Url.MakeOpenClass(new List<string> { "backenduser", "participantuser" }, "index")">
                            <a href="#" class="nav-link @Url.MakeActiveClass(new List<string> { "backenduser", "participantuser" }, "index")">
                                <i class="nav-icon fas fa-users"></i>
                                <p>
                                    Pengaturan Pengguna
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-controller="ParticipantUser" asp-action="Index" class="nav-link @Url.MakeActiveClass("participantuser","index")">
                                        <i class="fas fa-user-friends nav-icon"></i>
                                        <p>Pengguna Umum</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="BackendUser" asp-action="Index" class="nav-link @Url.MakeActiveClass("backenduser","index")">
                                        <i class="fas fa-user-astronaut nav-icon"></i>
                                        <p>Pengguna Khusus</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="fas fa-user nav-icon"></i>
                                <p>Profile</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="fas fa-file-signature nav-icon"></i>
                                <p>Daftar Survei Tersedia</p>
                            </a>
                        </li>
                    }
                }

            </ul>
        </nav>
    </div>
</aside>