@model ParticipantUser
@{
    ViewData["Title"] = "Profil";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";

    var forms1 = new Dictionary<string, string>
    {
        { "Nomor Karyawan", Model.EmployeeNumber },
        { "Nama Karyawan", Model.Name },
        { "Email", Model.Email },
        { "No Telp", Model.Phone },
        { "Jenis Kelamin", Model.Sex ? "Laki-laki" : "Perempuan" },
        { "Tanggal Lahir", Model.BirthDate == null ? "-" : Model.BirthDate.Value.ToString("yyyy-MM-dd") },
        { "Masa kerja di PT. Pertamina", (Model.WorkDuration == null ? "0" : Model.WorkDuration.ToString()) + " Tahun" },
        //{ "Username", Model.User.UserName },
    };
    var forms2 = new Dictionary<string, string>
    {
        { "Holding/Sub-Holding", Model.Entity == null ? "-" : Model.Entity.Name },
        { "Direktorat/Fungsi", Model.SubEntity == null ? "-" : Model.SubEntity.Name },
        { "Level Jabatan", Model.JobLevel == null ? "-" : Model.JobLevel.Name },
        //{ "Posisi", Model.Position == null ? "-" : Model.Position.Name },
        //{ "Fungsi", Model.CompanyFunction == null ? "-" : Model.CompanyFunction.Name },
        //{ "Divisi", Model.Divition == null ? "-" : Model.Divition.Name },
        //{ "Departemen", Model.Department == null ? "-" : Model.Department.Name },
    };

    var isEdit = (bool)ViewData["IsEdit"] ? "1" : "0";
}

@section scripts {
    <script src="~/Views/TypeScripts/profile.js"></script>
}

<div class="module form-modal">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Profil</h3>
            <div class="card-tools">
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <form class="form-horizontal row col-md-12">
                <input type="hidden" id="IsEdit" value="@isEdit"/>
                <div class="col-md-6">
                    @foreach (string key in forms1.Keys)
                    {
                        <div class="row">
                            <label for="inputEmail3" class="col-sm-3 col-form-label">@key</label>
                            <div class="col-sm-9">
                                <label class="col-form-label">: @forms1[key]</label>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-6">
                    @foreach (string key in forms2.Keys)
                    {
                        <div class="row">
                            <label for="inputEmail3" class="col-sm-3 col-form-label">@key</label>
                            <div class="col-sm-9">
                                <label class="col-form-label">: @forms2[key]</label>
                            </div>
                        </div>
                    }
                </div>
            </form>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button id="edit" type="button" class="btn btn-primary">Perbarui Profil</button>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tambah Data</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer justify-content-between">
                <button id="close_form" type="button" class="btn btn-default">Close</button>
                <button id="save_form" type="button" class="btn btn-primary">Simpan</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->